.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    background-color: var(--violet);
    border-radius: 2vmin;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--turquoise);
    cursor: pointer;
  }