.Logo {
    height: 20vmin;
    width: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(--royalpurple);
    color: var(--tan-1);
    font-size: 2.7vmin;
    border: .6vmin solid var(--black);
    }
    