
.CategoryList {
    color: var(--turquoise);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--violet);
    color: var(--turquoise);
    }
    
    .CategoryList li.active {
    color: var(--turquoise);
    background-color: var(--violet);
    border: .1vmin solid var(--black);
    }